name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ahtishamijaz55
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Using hardcoded username to prevent "invalid reference format" if secret is empty
          tags: ahtishamijaz55/secureorder-mcp:latest

      - name: Sync to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git remote add hf https://AhtishamIjaz:$HF_TOKEN@huggingface.co/spaces/AhtishamIjaz/secureorder-mcp-server
          git push --force hf main