name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          # Username is public, so we type it directly
          username: ahtishamijaz55
          # Password is a SECRET, so we keep the variable
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Hardcoding the tag ensures the format is ALWAYS correct
          tags: ahtishamijaz55/secureorder-mcp:latest